* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
}

.Window {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 1440px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,21,108,1) 30%, rgba(29,75,230,1) 50%, rgba(88,111,251,1) 75%, rgba(250,120,246,1) 100%);
}

#TextAnimation {
    font-family: "Anton", sans-serif;
    font-size: 90px;
    letter-spacing: 3px;
    padding: 15px;
    margin: 30px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #00156c;
    background: rgb(107,105,255);
    background: linear-gradient(90deg, rgba(107,105,255,1) 0%, rgba(1,0,87,1) 33%, rgba(107,105,255,1) 66%, rgba(1,0,87,1) 100%);
    color: transparent;
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 4s linear infinite;
    z-index: 2;
}

@keyframes animate {
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
}

.Moon {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: 220px;
    left: -600px;
    background: rgb(45,107,226);
    background: linear-gradient(10deg, rgba(45,107,226,1) 0%, rgba(6,32,80,0.4) 45%, rgba(4,23,57,0) 60%, rgba(0,0,0,0) 100%);
    box-shadow: -12px 12px 20px #5489F3;
    z-index: 2;
}

.star {
    border-radius: 50%;
    background-color: white;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.style1 {
    width: 1px;
    height: 1px;
}

.style2 {
    width: 2px;
    height: 2px;
}

.style3 {
    width: 3px;
    height: 3px;
}

.opacity1 {
    opacity: 1;
}

.opacity2 {
    opacity: 0.5;
}

.opacity3 {
    opacity: 0.1;
}

.twinkle1 {
    animation-duration: 0.5s;
    animation-name: twinkling;
    animation-iteration-count: infinite;
}

.twinkle2 {
    animation-duration: 1s;
    animation-name: twinkling;
    animation-iteration-count: infinite;
}

.twinkle3 {
    animation-duration: 1.5s;
    animation-name: twinkling;
    animation-iteration-count: infinite;
}

.twinkle4 {
    animation-duration: 2s;
    animation-name: twinklingWithNoBoxShadow;
    animation-iteration-count: infinite;
}

@keyframes twinkling {
    0% {
        box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.4);
    }
    100% {
        box-shadow: 0 0 10px 3px rgba(255, 255, 255, 1);
    }
}

@keyframes twinklingWithNoBoxShadow {
    0% {
        background-color: #ffffff;
        box-shadow: 0 0 10px 0px rgba(255, 255, 255, 1);
    }
    20% {
        background-color: #ffc4c4;
        box-shadow: 0 0 10px 0px rgba(255, 196, 196, 1);
    }
    80% {
        background-color: #c4cfff;
        box-shadow: 0 0 10px 0px rgba(196, 207, 255, 1);
    }
    100% {
        background-color: #ffffff;
        box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
    }
}
